# Python dependencies for the Fitness Tracker project
altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
cramjam
debugpy
decorator
executing
fastparquet
fsspec
gitdb
GitPython
idna
iniconfig
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
MarkupSafe
matplotlib-inline
narwhals
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
pluggy
prompt_toolkit
protobuf
psutil
pure_eval
py4j
pyarrow
pydeck
Pygments
pyspark
pytest
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
rpds-py
six
smmap
stack-data
streamlit
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
